In [1]:
import numpy as np
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import date, timedelta

In [2]:
%%time
# Specify the search criteria
keyword = 'aapl'
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 5)

# Create a list of dates between start_date and end_date
delta = timedelta(days=1)
date_range = pd.date_range(start_date, end_date, freq='D').tolist()

# Create an empty list to store the tweets
tweets = []
#limit of tweets per day
limit = 300

# Loop over each day in the date range and retrieve X tweets per day
#if count == limit or when the loop ends
for i in range(len(date_range)):
    day = date_range[i].strftime('%Y-%m-%d')
    dayNext = (date_range[i] + timedelta(days = 1)).strftime('%Y-%m-%d')
    query = f'{keyword} since:{day} until:{dayNext} lang:en'
    count = 0
    day_tweets = []
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
#         once count hits limit, sort the current list of x tweets and take the top 100 basd on likeCount
        if (count == limit):
            sorted_tweets = sorted(day_tweets, key=lambda x: x[3], reverse=True)
            top_tweets = sorted_tweets[:100]
            tweets += top_tweets
            break
        day_tweets.append([tweet.date, tweet.content, tweet.username, tweet.likeCount])
        count+= 1
    print(f'{day}: {count} total tweets retrieved')

# Convert the list of tweets to a Pandas DataFrame
df = pd.DataFrame(tweets, columns=['Datetime', 'Text', 'Username', 'likeCount'])

<timed exec>:30: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
<timed exec>:30: DeprecatedFeatureWarning: username is deprecated, use user.username instead

2019-01-01: 300 total tweets retrieved
2019-01-02: 300 total tweets retrieved
2019-01-03: 300 total tweets retrieved
2019-01-04: 300 total tweets retrieved
2019-01-05: 300 total tweets retrieved
Wall time: 1min 44s

In [3]:
df

,Datetime,Text,Username,likeCount
0,2019-01-01 19:25:18+00:00,2. AirPods will continue their dominance as th...,jmj,490
1,2019-01-01 22:03:44+00:00,New way of living for 2019.\n\nBuy things I wa...,ACXtrades,112
2,2019-01-01 01:35:46+00:00,Have a happy new year people may the $SPY $QQQ...,Sandro_power,68
3,2019-01-01 13:19:28+00:00,$AAPL monthly testing support and moving on ex...,johnscharts,28
4,2019-01-01 19:58:07+00:00,$SPX 2018 contributors: total return was -4.38...,hsilverb,12
...,...,...,...,...
495,2019-01-05 19:00:01+00:00,Apple cut Q1 #revenue guidance Wednesday citin...,theflynews,1
496,2019-01-05 18:56:04+00:00,@EricSteiman For sure. $AAPL is making a big ...,heberallred,1
497,2019-01-05 18:36:55+00:00,Join @RobinhoodApp and we'll both get a stock ...,Jmakranyi,1
498,2019-01-05 18:29:13+00:00,Join @RobinhoodApp and we'll both get a stock ...,tcbracing,1
499,2019-01-05 17:42:30+00:00,Join @RobinhoodApp and we'll both get a stock ...,8_is_primetime,1

In [5]:
fileName = 'Jan2019.csv'
df.to_csv(fileName, index = False)

# Extras

In [88]:
tweets = []
limit = 100

keyword = 'apple OR appl'
since_date = '2018-1-1'
until_date = '2018-1-1'

query = f'{keyword} since:{since_date} until:{until_date} lang:en'
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    if len(tweets) == limit:
        break
    if len(tweets) % 100 == 0:
        print(len(tweets))
        tweets.append([tweet.date, tweet.username, tweet.content])
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
df

Empty DataFrame
Columns: [Date, User, Tweet]
Index: []

In [ ]:
#from user
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = "(from:elonmusk) until:2020-01-01 since:2010-01-01"
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])
        
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(df)

# to save to csv
# df.to_csv('tweets.csv')