In [1]:
import numpy as np
import snscrape.modules.twitter as sntwitter
import pandas as pd
from datetime import date, timedelta
from datetime import datetime as dt

In [3]:
%%time
# Specify the search criteria
keyword = 'aapl'
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 3)

# Create a list of dates between start_date and end_date
delta = timedelta(days=1)
date_range = pd.date_range(start_date, end_date, freq='D').tolist()

# Create an empty list to store the tweets
tweets = []
#limit of tweets per day
limit = 500

# Loop over each day in the date range and retrieve X tweets per day
#if count == limit or when the loop ends
for i in range(len(date_range)):
    day = date_range[i].strftime('%Y-%m-%d')
    dayNext = (date_range[i] + timedelta(days = 1)).strftime('%Y-%m-%d')
    query = f'{keyword} since:{day} until:{dayNext} lang:en'
    count = 0
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
        if (count == limit):
            break
        tweets.append([tweet.date, tweet.content, tweet.username, tweet.likeCount])
        count+= 1
    print(f'{day}: {count} total tweets retrieved')

# Convert the list of tweets to a Pandas DataFrame
df = pd.DataFrame(tweets, columns=['Datetime', 'Text', 'Username', 'likeCount'])

<timed exec>:26: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
<timed exec>:26: DeprecatedFeatureWarning: username is deprecated, use user.username instead

2019-01-01: 309 total tweets retrieved
2019-01-02: 500 total tweets retrieved
2019-01-03: 500 total tweets retrieved
Wall time: 1min 15s

In [4]:
df

,Datetime,Text,Username,likeCount
0,2019-01-01 23:55:28+00:00,$AAPL #patent #maintenance event EXP - Patent ...,treabase,0
1,2019-01-01 23:50:06+00:00,Early to mid January performer : gs ， aapl co...,qingxia_NXP,0
2,2019-01-01 23:47:43+00:00,Join @RobinhoodApp and we'll both get a stock ...,wetthamjoe,1
3,2019-01-01 23:40:28+00:00,$AAPL #patent #maintenance event EXP - Patent ...,treabase,0
4,2019-01-01 23:37:55+00:00,@MohnishPabrai @rickbroma I bet the shrimp at ...,88888sAccount,0
...,...,...,...,...
1304,2019-01-03 21:22:28+00:00,@daesr1 @NotaBubble @VendbienJon @7wtc @marc_s...,FilmProfessor9,2
1305,2019-01-03 21:22:13+00:00,$AAPL chart of history. Their cash flow can bu...,LinYingjun,1
1306,2019-01-03 21:22:06+00:00,$AAPL Apple suffers its biggest single-day los...,Options,0
1307,2019-01-03 21:22:04+00:00,Stock Market Update: Stocks Fall on Apple Warn...,FinanzLinksCom,0
1308,2019-01-03 21:21:05+00:00,Thanks to @realDonaldTrump's stupid fight with...,thbthttt,0

In [5]:
df['Date'] = df['Datetime'].dt.date
filteredDf = df.sort_values(by = ['Date', 'likeCount'], ascending = [True, False]).groupby('Date').head(100)
filteredDf

,Datetime,Text,Username,likeCount,Date
81,2019-01-01 19:25:18+00:00,2. AirPods will continue their dominance as th...,jmj,490,2019-01-01
34,2019-01-01 22:03:44+00:00,New way of living for 2019.\n\nBuy things I wa...,ACXtrades,112,2019-01-01
284,2019-01-01 01:35:46+00:00,Have a happy new year people may the $SPY $QQQ...,Sandro_power,68,2019-01-01
185,2019-01-01 13:19:28+00:00,$AAPL monthly testing support and moving on ex...,johnscharts,28,2019-01-01
68,2019-01-01 19:58:07+00:00,$SPX 2018 contributors: total return was -4.38...,hsilverb,12,2019-01-01
...,...,...,...,...,...
1106,2019-01-03 22:08:08+00:00,"#JRMHatTrick a nice day in Futures, FX, and Op...",TheJasonJenkins,2,2019-01-03
1120,2019-01-03 22:04:28+00:00,@askslim saw analyst on bloomberg still applyi...,jarzt,2,2019-01-03
1163,2019-01-03 21:53:16+00:00,Stock Market Heat Map Today\n\n$AAPL $MSFT $GO...,ShortSqueezed1,2,2019-01-03
1170,2019-01-03 21:51:47+00:00,@kerberos007 this is just the first day of the...,ladytrader33,2,2019-01-03
1179,2019-01-03 21:49:19+00:00,@lhamtil I would love to see dip below $95 (no...,BeboSnipez,2,2019-01-03

In [ ]:
# change the name
fileName = 'Jan2019.csv'
filteredDf.to_csv(fileName, index = False)

# Extras

In [ ]:
tweets = []
limit = 100

keyword = 'apple OR appl'
since_date = '2018-1-1'
until_date = '2018-1-1'

query = f'{keyword} since:{since_date} until:{until_date} lang:en'
for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    if len(tweets) == limit:
        break
    if len(tweets) % 100 == 0:
        print(len(tweets))
        tweets.append([tweet.date, tweet.username, tweet.content])
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])

df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
df

In [ ]:
#from user
import snscrape.modules.twitter as sntwitter
import pandas as pd

query = "(from:elonmusk) until:2020-01-01 since:2010-01-01"
tweets = []
limit = 5000


for tweet in sntwitter.TwitterSearchScraper(query).get_items():
    
    # print(vars(tweet))
    # break
    if len(tweets) == limit:
        break
    else:
        tweets.append([tweet.date, tweet.username, tweet.content])
        
df = pd.DataFrame(tweets, columns=['Date', 'User', 'Tweet'])
print(df)

# to save to csv
# df.to_csv('tweets.csv')

In [ ]:
%%time
# Specify the search criteria
keyword = 'aapl'
start_date = date(2019, 1, 1)
end_date = date(2019, 1, 5)

# Create a list of dates between start_date and end_date
delta = timedelta(days=1)
date_range = pd.date_range(start_date, end_date, freq='D').tolist()

# Create an empty list to store the tweets
tweets = []
#limit of tweets per day
limit = 500

# Loop over each day in the date range and retrieve X tweets per day
#if count == limit or when the loop ends
for i in range(len(date_range)):
    day = date_range[i].strftime('%Y-%m-%d')
    dayNext = (date_range[i] + timedelta(days = 1)).strftime('%Y-%m-%d')
    query = f'{keyword} since:{day} until:{dayNext} lang:en'
    count = 0
    day_tweets = []
    for tweet in sntwitter.TwitterSearchScraper(query).get_items():
#         once count hits limit, sort the current list of x tweets and take the top 100 basd on likeCount
        if (count == limit):
            sorted_tweets = sorted(day_tweets, key=lambda x: x[3], reverse=True)
            top_tweets = sorted_tweets[:100]
            tweets += top_tweets
            break
        day_tweets.append([tweet.date, tweet.content, tweet.username, tweet.likeCount])
        count+= 1
    print(f'{day}: {count} total tweets retrieved')

# Convert the list of tweets to a Pandas DataFrame
df = pd.DataFrame(tweets, columns=['Datetime', 'Text', 'Username', 'likeCount'])